body{
    background-color: rgb(233, 230, 230);
}

.container{
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr 80px;
    max-width: 1920px;
   
    grid-template-columns: 1fr 6fr 6fr 1fr;
    grid-gap: 0.5em;
}

.p1{
    grid-row: 1 / 1 ;
    grid-column: 1 / 5;

    background-color: #E95745;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: black 2px 1px 2px;
    color: white;
    display: flex; align-items: center; justify-content: center; 
    border: 2px solid black;
}

.p2 {
    grid-row: 2 / 5 ;
    grid-column: 1 / 1 ;

    background-color: rgb(36, 156, 199);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: black 2px 1px 2px;
    color: white;
    display: flex; align-items: center; justify-content: center; 
    border: 2px solid black;
}

.p4 {
    grid-row: 5 / 2 ;
    grid-column: 4 / 4 ;

    background-color: purple;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: black 2px 1px 2px;
    color: white;
    display: flex; align-items: center; justify-content: center; 
    border: 2px solid black;
}

.p5{
    grid-row: 5 / 5;
    grid-column: 1 / 5;

    background-color: rgb(117, 236, 32);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: black 2px 1px 2px;
    color: white;
    display: flex; align-items: center; justify-content: center; 
    border: 2px solid black;
}

.p3{
    grid-row: 2 /5;
    grid-column: 2 / 4;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border: 2px solid black;
}

.s1{
    grid-area: 2 /2 /2 /4 ;

    background-color:rgb(228, 185, 106);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: black 2px 1px 2px;
    color: white;
    display: flex; align-items: center; justify-content: center; 
    border: 2px solid black;

    margin-top: 190px;
    margin-right: 8px;
    margin-left: 8px;
}

.s2{
    grid-area: 4 /2 /5 /2;

    background-color:rgb(192, 131, 17);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: black 2px 1px 2px;
    color: white;
    display: flex; align-items: center; justify-content: center; 
    border: 2px solid black;

    margin-bottom: 190px;
    margin-right: 2px;
    margin-left: 8px;
}

.s3{
    grid-area: 4 /3 /5 /3;

    background-color:rgb(23, 135, 105);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: black 2px 1px 2px;
    color: white;
    display: flex; align-items: center; justify-content: center; 
    border: 2px solid black;

    margin-bottom: 190px;
    margin-left: 2px;
    margin-right: 8px;
}