body{
    background-color: whitesmoke;
}

body audio{
    border: 2px solid rgb(185, 185, 185);
    border-radius: 10px;
    width: 500px;
}

video#VIDEO{
    width: 500px;
}

h1{
    font-size: 0.9em;
}

.stranica{
    min-width: 500px;
    min-height: 300px;
    border: 3px solid lightskyblue;
    border-radius: 10px;
}

.pdf{
    width: 100%;
    min-height: 800px;
}

.karta{
    width: 100%;
    max-height: 300px;
}