/* Osnovni stilovi i reset */
:root {
    --color-primary: #000000e5;
    --color-secondary: #f3f3f3;
    --color-accent: #e59935; /* Narančasta iz gumba */
    --color-text-light: #fff;
    --color-text-dark: #333;
    --color-border: #ccc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-text-dark);
    background-color: rgb(224, 224, 224);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header/Navigacija */
.header-uvod {
    background-color:  #212121;
    color: var(--color-text-light);
    padding: 10px 0;
    font-size:18px ;
}

.header-kontent {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color-accent);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: black 2px 1px 2px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: -15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li {
    margin-left: 20px;
    font-weight: bold;
}

nav a {
    text-transform: uppercase;
    font-size: 0.85em;
    padding: 5px 0;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--color-accent);
}

/* Hero sekcija (ispod headera) */
.hero-dio {
    background-color: #141414; /* Tamnija pozadina */
    color: var(--color-text-light);
    padding: 80px 20px;
    text-align: center;
}

.hero-kontent {
    max-width: 800px;
    margin: 0 auto;
}

.hero-kontent h2 {
    font-size: 2.4em;
    margin-bottom: 19px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-kontent p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-text-dark);
    padding: 12px 30px;
    text-transform: uppercase;
    text-shadow: black 1px 0.1px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    transition: background-color 0.3s;
    
}

.button:hover {
    background-color: #d1882c;
}

/* Opći stilovi za sekcije */
section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-text-light);
}

section h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.naslovna-sekcije {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* Sekcija Usluge */
.services-sekcija {
    background-color: var(--color-text-light);
}

.services-grid {
    display: grid;  /* 3 kolone jednake sirine */
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    margin-left: 24px;
    margin-right: 24px;
}

.service-card {
    background-color: whitesmoke;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    border-left: 5px solid var(--color-accent);
    padding: 20px;
    min-height: 190px;
}

.service-card h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-primary);
    font-size: 1.2em;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--color-secondary);
    padding-bottom: 5px;
}

.service-card p {
    font-weight: 500;
    line-height: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sekcija O tvrtki */

.Otvrtki-kontejner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.Otvrtki h3{
   text-align: left;
   font-size: 1.3em;
   margin-bottom: -7%;
}
.Otvrtki-dio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.Otvrtki-dio-grid p {
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Otvrtki-dio-grid p:first-child {
    padding-top: 80px;
    padding-right: 16px;
    line-height: 1.7em;
    font-size: 1.0em;
    text-align: justify;
    border-right: 2px solid var(--color-border);
}

.Otvrtki-dio-grid p:last-child {
    line-height: 1.7em;
    font-size: 1.0em;
    text-align: justify;
}


/* Sekcija Cjenik (Tabela) */
.cijenik h3 {
    text-align: left;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    margin-left: 24px;
    margin-right: 24px;
}

table tr{
    border-top: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
}

table {
    width: 96%;
    border-collapse: collapse;
    background-color: var(--color-text-light);
    margin-left: 24px;
}

thead th {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 14px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tbody td {
   
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid var(--color-border);
    font-weight: bold;
}

tbody td:first-child {
    border-left: 1px solid var(--color-border);
}

tbody td:last-child {
    border-right: 1px solid var(--color-border);
}

tbody tr:nth-child(2){
    background-color: whitesmoke;
}

tbody tr:nth-child(4){
    background-color: whitesmoke;
}

tbody tr:nth-child(5){
    font-size: 0.8em;
}

/* Sekcija Kontakt (Forma) */
.Kontaktkocka{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    height: 800px;
    width: 1110px;
    margin-left: 24px;
    margin-top: -45px;
    padding-top: 70px;
    background-color: whitesmoke;
}

.contact-section {
    background-color: white;
    padding-bottom: 80px;
}

.contact-section h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 35px;
}

.kontakt-form-kontejner {
    background-color: var(--color-text-light);
    max-width: 550px;
    margin: 0 auto;
}

fieldset { /* linije doticu KONTAKT PODACI*/
   border: 2px solid var(--color-border);
   border-radius: 8px;

}

legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 24px;
    padding-right: 10px;
    padding-left: 10px;
    color: var(--color-accent);
    margin-bottom: 15px;
}

.form-grupa {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
}

.form-grupa label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 6px;
}

.form-grupa input[type="text"],
.form-grupa input[type="email"],
.form-grupa textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-border);
    font-size: 1.4em;
    border-radius: 6px;
}

#vrsta{
    width: 100%;
    padding: 8px;
    border: 1px solid red;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    font-size: 0.9em;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: lighter;
}

label[for="hitno"] {
    padding-top: 13px;
}

.checkbox-group input[type="checkbox"] {
    width: 16px; 
    height: 16px;
    margin-right: 10px;
    margin-top: 12px;
}

.dio-opterecenost {
    max-width: 550px;
    margin: 30px auto;
    padding: 0;
}

label[for="naslov-gornji-opterecenost"]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dio-opterecenost label[for="naslov-gornji-opterecenost"] {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 0; 
} 

.dio-opterecenost label[for="popunjenost"]{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 0.85em;
}

input[type="range"] {
    touch-action: pan-y;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    accent-color: red;
}

.btn-posalji {
    width: 100%;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border: none;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    margin-top: 40px;
    box-shadow: var(--color-border) 0px 3px 7px;
}

.btn-posalji:hover {
    background-color: #d1882c;
}

/* Footer */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    font-size: 0.85em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a {
    color: var(--color-accent);
   
}
.emaill {
    text-decoration: underline;
}

footer p {
    margin-bottom: 5px;
    color: var(--color-text-light);
}

.hr{
    border: rgb(75, 75, 75) 1px solid;
    margin-top: 15px;
}

.copyright {
    margin-top: 15px;
    font-size: 0.9em;
    color: rgb(123, 123, 123);
}
