body {
    background-color: whitesmoke; /* Svijetlo siva pozadina */
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 1100px;
    margin: 0;
    padding: 20px;
}

img{

    margin: 0 auto;
    margin-top: -17%;
    
}

.sigurna-prijava{
    margin: 20px 0;
    background: white;
    border: 0.5px solid #f0f0f0;
    border-radius: 9px;
    padding: 40px;
    height: 320px;
    width: 450px;
    box-shadow: 0px 5px 8px 0px rgb(221, 221, 221);
    text-align: left;
}

fieldset{ /* linija oko sigurne prijave i pozadina*/
    background: white;
    border-radius: 8px;
    border: 0.5px solid #e1e1e1;
    margin-left: -18px;
    margin-right: -18px;
    height: 320px;
}

.naslov{ /*naslov sigurna prijava*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 10px;
}

.info-input{ /*Korisnicko ime i lozinka s boxom */
    font-family: sans-serif;
    margin-bottom: 20px; /* spusta lozinku s boxom dole*/
    margin-left: 10px;
}

.info-input label{ /* samo korisnicko ime i lozinka */
    display: block;
    margin-bottom: 8px;/* odaljuje box od lozinke kao i od korisnickog imena*/
    font-size: 16px;
    font-weight: thinner;
}

.korisnickibox{
    /* Smanjite ovu vrijednost da pomaknete desni rub polja lijevo */
    width: 440px; /* Primjer smanjene širine, prilagodite po potrebi */
    
    height: 35px;
    border-color: #ddd;
    border-radius: 5px;
    border: #e9e9e9 2px solid;
    padding: 0 10px; 
    box-sizing: border-box;
}

.Prijavadugme {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: lighter;
    font-family: sans-serif;
}

.Prijavadugme input[type="checkbox"] {
    width: 16px; 
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.Prijavadugme label {
    padding-top: 2px;
}

.login-button {
    padding: 12px;
    display: block; 
    margin: 0 auto;
    width: 95%;
    background-color: #2b6eda;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    
}

.login-button:hover {
    background-color: #5890eb;
}

.nedavne-aktivnosti-container {
    width: 700px;
    margin-top: 10px;
    padding: 0 20px; 
}

.nedavne-aktivnosti-container h3 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

table {
    font-family: sans-serif;
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden; /* Za zaokruživanje rubova */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
    background-color: white;
    border-bottom: 1px solid blue;
    border-collapse: collapse; /*skuplja liniju*/
}

table th {
    background-color: #f7f7f7;
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #fafafa;
}

table tr:hover {
    background-color: #f2f2f2;
}

.success {
    color: #38a169; /* Zelena za Uspjeh */
    font-weight: 600;
}

.failure {
    color: #e53e3e; /* Crvena za Greška */
    font-weight: 600;
}

.show-more {
    text-align: center;
    margin-top: 20px;
}

.show-more a {
    color: #4285f4;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 1px dashed #4285f4;
}

.show-more a:hover {
    color: #357ae8;
    border-bottom: 1px dashed #357ae8;
}