.card{
    position: relative;
    display: flex;
    width: 190px;
    height: 254px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    place-content: center;
    place-items: center;
}

.card h2{
    z-index: 1;
    color: white;
    font-size: 2em;
}

.card::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 130%;
    background-image: 
       linear-gradient(180deg, #ff00c8,cyan);
    animation: animate 3s linear infinite;
    transition: all .3s linear;
}

.card::after{
    content: '';
    position: absolute;
    inset: 5px;
    background:#141414;
    border-radius: 15px;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}